## Import Libraries

In [2]:
import pandas as pd

## Import Datasets

In [4]:
df = pd.read_csv('ner_results.csv')
df.head()

,judul,asal,text,ner_results,persons
0,Legenda Danau Toba,Sumatera Utara,"Di sebuah desa di wilayah Sumatera, hidup seor...","[{'entity_group': 'GPE', 'score': 0.9980665, '...","['Pu', 'Kanda', 'teri', 'Petani', 'ni', 'Puter..."
1,Puteri Hijau,Sumatera Utara,"Sekitar abad 14 dan 15 masehi , berdiri keraja...","[{'entity_group': 'DAT', 'score': 0.68840194, ...","['ri Hij', 'Mambang Jazid', 'jazid', 'putri hi..."
2,Batu Gantung Danau Toba,Sumatera Utara,"Pada zaman dahulu kala, terdapat satu keluarga...","[{'entity_group': 'CRD', 'score': 0.9936027, '...","['Toki', 'Sang', 'uni', 'Ayah', 'Ser', 'seruni..."
3,Sampuraga Si Anak Durhaka,Sumatera Utara,"Pada zaman dulu, hiduplah seorang janda tua da...","[{'entity_group': 'PER', 'score': 0.9767194, '...","['Sampura', 'Ibu', 'Sang', 'sampura', 'sampura..."
4,Si Buyung Besar,Sumatera Utara,Pada zaman dahulu kala penduduk pantai pun mas...,"[{'entity_group': 'CRD', 'score': 0.74330723, ...","['Buyung', 'Sang', 'si Buyung Besar', 'Datuk',..."

In [5]:
df = df[['judul', 'asal', 'text', 'persons']]
df.head()

,judul,asal,text,persons
0,Legenda Danau Toba,Sumatera Utara,"Di sebuah desa di wilayah Sumatera, hidup seor...","['Pu', 'Kanda', 'teri', 'Petani', 'ni', 'Puter..."
1,Puteri Hijau,Sumatera Utara,"Sekitar abad 14 dan 15 masehi , berdiri keraja...","['ri Hij', 'Mambang Jazid', 'jazid', 'putri hi..."
2,Batu Gantung Danau Toba,Sumatera Utara,"Pada zaman dahulu kala, terdapat satu keluarga...","['Toki', 'Sang', 'uni', 'Ayah', 'Ser', 'seruni..."
3,Sampuraga Si Anak Durhaka,Sumatera Utara,"Pada zaman dulu, hiduplah seorang janda tua da...","['Sampura', 'Ibu', 'Sang', 'sampura', 'sampura..."
4,Si Buyung Besar,Sumatera Utara,Pada zaman dahulu kala penduduk pantai pun mas...,"['Buyung', 'Sang', 'si Buyung Besar', 'Datuk',..."

## Splitting Datasets

In [20]:
data = []

for idx, row in df.iterrows():
  persons = eval(row['persons'])
  persons = [person for person in persons if len(person) >= 2]
  persons.sort(key=len, reverse=True)

  for sentence in row['text'].split('.'):
    for person in persons:
      if person in sentence:
        data.append([row['judul'], row['asal'], person, sentence.strip()])
        break

In [21]:
df_out = pd.DataFrame(data, columns=['judul', 'asal', 'person', 'sentence'])
df_out.head()

,judul,asal,person,sentence
0,Legenda Danau Toba,Sumatera Utara,ni,"Di sebuah desa di wilayah Sumatera, hidup seor..."
1,Legenda Danau Toba,Sumatera Utara,ni,Ia seorang petani yang rajin bekerja walaupun ...
2,Legenda Danau Toba,Sumatera Utara,ni,"Sebenarnya usianya sudah cukup untuk menikah, ..."
3,Legenda Danau Toba,Sumatera Utara,ni,"Di suatu pagi hari yang cerah, petani itu mema..."
4,Legenda Danau Toba,Sumatera Utara,ni,“Mudah-mudahan hari ini aku mendapat ikan yang...

In [22]:
df_out.shape

(9968, 4)

In [23]:
df_out.to_csv('persons.csv', index=False)